{% extends "base_generic.html" %}
{% load static %}

{% block title %}Chart | Connected Health{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/chart/input.css' %}">
{% endblock %}

{% block content %}
<div class="centered-vertical-container">
    <div class="title-box">
        Graph Form
    </div>
    <form method="POST" action="{% url 'result' %}">
        {% csrf_token %}
        <input type="text" id="frame" class="input-box" name="frame" placeholder="frame ..." onfocus="this.placeholder=''" onblur="this.placeholder='frame ...'">
        <input type="text" id="joint" class="input-box" name="joint" placeholder="joint ..." onfocus="this.placeholder=''" onblur="this.placeholder='joint ...'">
        <input type="text" id="interval" class="input-box" name="interval" placeholder="interval ..." onfocus="this.placeholder=''" onblur="this.placeholder='interval ...'">
        <input type="text" id="dimension" class="input-box" name="dimension" placeholder="dimension ..." onfocus="this.placeholder=''" onblur="this.placeholder='dimension ...'">
        <button class="start-button" id="start-graph-button">START</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
{% endblock %}
