#animation-holder {
    display: flex;
    justify-content: center;
    padding-block: 15px;
}

#animation-holder #animation {
    width: 350px;
    height: 500px;
    border-radius: 15px;
    margin-right: 15px;
}

#animation-holder #chart {
    width: 680px;
    height: 500px;
    border-radius: 15px;
}

#animation-title {
    margin-bottom: 30px;
    margin-top: -10px;
}

.button-group {
    border: solid;
    border-color: lightblue;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
    bottom: 15%;
    left: 50%;
    gap: 25px;
    transform: translate(-50%, 0);
}

.control-button {
    width: 50px;
    height: 50px;
    border: solid;
    background-color: transparent;
    border-color: lightblue;
    border-radius: 25px;
    transition: background-color 0.3s, transform 0.1s;
    cursor: pointer;
}
